<%- include('partials/head') %>

<%- include('partials/navbar') %>

<script src="https://cdn.anychart.com/releases/8.10.0/js/anychart-core.min.js"></script>
<script src="https://cdn.anychart.com/releases/8.10.0/js/anychart-stock.min.js"></script>
<script src="https://cdn.anychart.com/releases/8.10.0/js/anychart-data-adapter.min.js"></script>
<script src="https://cdn.anychart.com/releases/8.10.0/js/anychart-ui.min.js"></script>
<script src="https://cdn.anychart.com/releases/8.10.0/js/anychart-exports.min.js"></script>
<link href="https://cdn.anychart.com/releases/8.10.0/css/anychart-ui.min.css" type="text/css" rel="stylesheet">
<link href="https://cdn.anychart.com/releases/8.10.0/fonts/css/anychart-font.min.css" type="text/css" rel="stylesheet">
<script src="/js/anychart_dark_theme.js"></script>

<div class="container">
    <br>
    <br>
    <h4>(<%= ticker %>) <%= profile.name %> - $<%= quote.c %> <span class="<%= (quote.d <= 0 ? "neg-change" : "pos-change") %>"><%= quote.d %></span></h4>
    <p>
        <%= profile.exchange %><br>
        <div class="btn-group" role="group">
            <a class="btn btn-sm btn-info" id="portfolio-add-link" href="/lists/portfolio/add/<%= ticker %>">
                <% if (inPortfolio) { %>
                    <span id="portfolio-add-status" class="remove-asset">Remove from portfolio</span>
                <% } else { %>
                    <span id="portfolio-add-status">Add to portfolio</span>
                <% } %>
            </a>
            <button class="btn btn-sm btn-outline-info" id="toggle-watchlist">
                <% if (inWatchlist) { %>
                    <i id="watchlist-icon" class="bi bi-eye-slash-fill"></i>
                <% } else { %>
                    <i id="watchlist-icon" class="bi bi-eye-fill"></i>
                <% } %>
            </button>
        </div>

        <a class="btn btn-sm btn-outline-info" href="https://finance.yahoo.com/quote/<%= ticker %>" target="_blank"><%= ticker %> on Yahoo Finance</a>

    </p>
    <br>

    <!-- <div id="chart-container"></div>   -->
    <!-- <br>
    <br> -->
    <h4><%= news.length >= 1 ? "News" : "" %></h4>
    <br>
    <% for (let i in news) { %>
        <a href="<%= news[i].url %>" target="_blank" class="article">
            <div class="container">
                <h4><%= news[i].headline %></h4>
                <% let publishDate = new Date(news[i].datetime * 1000).toLocaleString() %> 
                <h6><%= news[i].source %> - <%= publishDate %></h6>
                <p><%= news[i].summary %></p>
            </div>
        </a>
    <% } %>
</div>

<script>
   
   let xhr = new XMLHttpRequest()

    document.querySelector("#portfolio-add-link").addEventListener("click", e => {
        // Remove an asset from portfolio
        if (document.querySelector("#portfolio-add-status").classList.contains("remove-asset")) {
            e.preventDefault()
            // In portfolio
            xhr.open('DELETE', "/lists/portfolio", true)
            xhr.setRequestHeader('Content-type', 'application/json; charset=UTF-8')
            xhr.send(JSON.stringify({
                ticker: "<%= ticker %>"
            }))
            
            xhr.onload = function () {
                if(xhr.status === 200) {
                    // Success
                    document.querySelector("#portfolio-add-status").classList.toggle("remove")
                    document.querySelector("#portfolio-add-status").innerHTML = "Add to portfolio"
                }
            }
        }
        // No else because it redirects to another page anyways and the status is checked on initial render
    })

    document.querySelector("#toggle-watchlist").addEventListener("click", e => {
        // Toggle an asset in the watchlist
        if (document.querySelector("#watchlist-icon").classList.contains("bi-eye-fill")) {
            // Not in watchlist
            xhr.open('POST', "/lists/watchlist", true)
        } else {
            // In watchlist
            xhr.open('DELETE', "/lists/watchlist", true)
        }
        xhr.setRequestHeader('Content-type', 'application/json; charset=UTF-8')
        xhr.send(JSON.stringify({
            ticker: "<%= ticker %>"
        }))
        
        xhr.onload = function () {
            if(xhr.status === 200) {
                // Success
                document.querySelector("#watchlist-icon").classList.toggle("bi-eye-slash-fill")
                document.querySelector("#watchlist-icon").classList.toggle("bi-eye-fill")
            }
        }
    })

    function getDate (addDays) {
        const date = new Date();
        date.setDate(date.getDate() + addDays);

        let year = date.getUTCFullYear();
        let month = date.getUTCMonth() + 1;
        let day = date.getUTCDate();

        month = String(month).padStart(2, '0')
        day = String(day).padStart(2, '0')

        const str = `${year}-${month}-${day}`;

        return str
    }

    // let history = String(`<%=history%>`).slice(36, -1)

    // anychart.onDocumentReady(function () {

    //         // create data table on loaded data
    //         var dataTable = anychart.data.table();
    //         dataTable.addData(history);

    //         // map loaded data for the candlestick series
    //         var mapping = dataTable.mapAs({
    //             open: 1,
    //             high: 2,
    //             low: 3,
    //             close: 4
    //         });

    //         // create stock chart
    //         var chart = anychart.stock()
    //         anychart.theme('darkTurquoise');
            
    //         // create first plot on the chart
    //         var plot = chart.plot(0);
            
    //         var series = plot.candlestick(mapping).name("<%= ticker %>");
    //         plot.yAxis(false);
    //         plot.legend(false)
    //         // create scroller series with mapped data
    //         chart.scroller().candlestick(mapping)

    //         // create range picker
    //         var rangePicker = anychart.ui.rangePicker();
    //         chart.selectRange(getDate(-365), getDate(0));
            
    //         // init range picker
    //         rangePicker.render(chart);

    //         // create range selector
    //         var rangeSelector = anychart.ui.rangeSelector();
            
    //         // init range selector
    //         rangeSelector.render(chart);
        
            
    //         // set container id for the chart
    //         chart.container('chart-container');
            
    //         // initiate chart drawing
    //         chart.draw();

    // });

</script>
<%- include('partials/footer') %>