<%- include('partials/head') %>

<%- include('partials/navbar') %>

<div class="container">
    <br>
    <h4>(<%= profile.ticker %>) <%= profile.name %> - $<%= quote.c %> <span class="<%= (quote.d <= 0 ? "neg-change" : "pos-change") %>"><%= quote.d %></span></h4>
    <p>
        <%= profile.exchange %><br><br>
        <div class="btn-group" role="group">
            <a class="btn btn-sm btn-info" href="/add/<%= profile.ticker %>">Add to portfolio</a>
            <button class="btn btn-sm btn-outline-info"><i class="bi bi-eye-fill"></i></button>
        </div>

        <a class="btn btn-sm btn-outline-info" href="https://finance.yahoo.com/quote/<%= profile.ticker %>" target="_blank"><%= profile.ticker %> on Yahoo Finance</a>

    </p>


    <br>
    <h4>News</h4>
    <br>
    <% for (let i in news) { %>
        <a href="<%= news[i].url %>" target="_blank" class="article">
            <div class="container">
                <h4><%= news[i].headline %></h4>
                <% let publishDate = new Date(news[i].datetime * 1000).toLocaleString() %> 
                <h6><%= news[i].source %> - <%= publishDate %></h6>
                <p><%= news[i].summary %></p>
            </div>
        </a>
    <% } %> 
</div>
<%- include('partials/footer') %>